body{
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color:darkslategrey;
    color: white;
    height: 100px;
}

.header-logo {
    font-size: 40px;
    float: left;
    padding: 20px 40px;
}

.header-list li {
    float: left;
    padding: 40px 40px;
}

.header-list a {
    color: #fff;
    text-decoration: none;
}

.main {
    padding: 0;
}

.maincopy-container {
    padding: 200px;
    background-image: url(2022-18.jpg);
    background-size: cover;
    color: #fff;
}

.copy-container h1 {
    font-size: 60px;
}

.copy-container h2 {
    font-size: 40px;
}

.copy-container span {
    color:darkcyan;
}

.contents {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    border-bottom: 3px solid #dee7de;
}

.news-list {
    list-style: none outside;
    margin: 0;
    padding: 20px;
}

.news-list .item  {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #dee7de;
    padding: 20px 20px;
}

.news-list .item .date {
    margin: 0;
    min-width: 120px;
    font-size: 16px;
    color:cadetblue;
    padding: 0 20px 0 0;
}

.news-list .item .title {
    margin: 0;
    width: 300px;
}

.news-list details a {
    color: teal;
}

@media screen and (max-width: 767px){
    .news-list .item a {
        flex-wrap: wrap;
    }
    .news-list .item .date {
        min-width: 100px;
    }
    .news-list .item .title {
        margin-top: 10px;
    }
}

* {
    box-sizing: border-box;
}
.footer a {
    text-decoration: none;
    color: #fff;
}
body {
    margin: 20px;
}

.contents .details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 1px;
}

.contents .summary {
    font-weight: bold;
    margin: 4px 4px;
    padding: 5px;
}

.contents .details[open] {
    padding: 6em;
}

.contents .details[open] summary {
    border-bottom: 20px solid #aaa;
}

.news-list a {
    color: teal;
}

.footer {
    background-color:lightsteelblue;
    color: #fff;
    height: 200px;
    padding: 40px;
}

.footer-logo {
    font-size: 25px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: -5px;
    font-size: 20px;
    padding-right: 0%;
    text-align: right;
}

.footer-bottom {
    font-size: 13px;
    float: right;
}

/*Activity*/
.event {
    margin-top: 200px;
    margin-bottom: 200px;
}

.event img {
    margin: 10px 15px 0 10px;
}

/*Photos*/
.year {
    margin-top: 200px;
    margin-bottom: 200px;
}

.year img {
    margin: 10px 15px 0 10px;
}

